{% extends "base.html" %}
{% import 'macros.html' as macros %}
{% block content %}
<h1>Game Information</h1>
<p>Created by {{game.author.username}}</p>
<p>Challenged {{game.guest.username}}</p>
<p>Max Points {{game.max_points}}</p>
<p>Current User Points {{game.current_user_points}}</p>
<p>Current Opponent Points {{game.current_opponent_points}}</p>
<p>Is User Turn {{game.is_user_turn}}</p>
<p>Stauts {{game.status}}</p>

<h1>Questions</h1>
{% for question in questions %}
Question {{question.id}}
{% endfor %}

{% endblock %}