{% extends "base.html" %}
{% import 'macros.html' as macros %}
{% block content %}

<div class="games-game-wrapper">
  <div class="container jumbotron">
    <h1 class="text-center">Game Information</h1>
    <div class="game-info-section">
      <h2>Players</h2>
      <hr>
      <h4>Author</h4>
      <h6>{{game.author.username}} ({{game.current_author_points}} Points)</h6>

      <h4>Guest</h4>
      <h6>{{game.guest.username}} ({{game.current_guest_points}} Points)</h6>
    </div>
    <div class="game-info-section">
      <h2>Logistics</h2>
      <hr>
      <h4>Point Goal</h4>
      <h6>{{game.max_points}} Points</h6>
      <h4>Turn</h4>
      <h6>{{game.turn | capitalize}}</h6>
      <h4>Game Status</h4>
      <h6>{{game.status | capitalize}}</h6>
    </div>
    <div class="game-info-section">
      <h2>Questions</h2>
      <div class="game-questions pre-scrollable">
        {% for question in questions %}
          {% if current_user == question.author %}
            <a href="#" class="list-group-item list-group-item-action list-group-item-success">Question (Incoming)</a>
          {% else %}
            <a href="#" class="list-group-item list-group-item-action list-group-item-danger">Question (Outgoing)</a>
          {% endif %}
        {% endfor %}
      </div>
    </div>
{% endblock %}