{% extends "base.html" %}
{% import 'macros.html' as macros %}
{% block content %}

<div class="container">
<h1 class="text-center">Pending Games</h1>

{% for game in unconfirmed_games %}
  <li class="list-group-item list-group-item-info">
    <h5>Game Invitation From {{game.author.username}}</h5>
    <a href="{{url_for('games.accept_invite',game_id=game.id)}}">
      <button class="btn btn-primary">
        Accept
      </button>
    </a>
    <a href="{{url_for('games.reject_invite',game_id=game.id)}}">
      <button class="btn btn-danger">
        Reject
      </button>
    </a>
  </li>
{% endfor %}

{% for game in unanswered_games %}
  <li class="list-group-item list-group-item-info">
    <h5>Game Waiting Answer</h5>
    <a href="{{url_for('games.game',game_id=game.id)}}">
      <button class="btn btn-primary">
        View Game
      </button>
    </a>
  </li>
{% endfor %}
</div>
{% endblock %}