{% extends "base.html" %}
{% block content %}]
<div class="drawings-drawing-wrapper">
<div class="container">
  <div class="jumbotron text-center">
    <h1>Drawing</h1>
    <div class="row">
      <div class="col-12">
        <img src="{{url_for('static',filename='drawing_images/'+drawing.filename)}}" width=300px height=300px>
      </div>
      <div class="col-12">
      {% if current_user == drawing.user %}
        {% if drawing.display %}
        <a href="{{url_for('drawings.remove_from_display',drawing_id=drawing.id)}}"><button class="btn btn-danger">Remove from Display</button></a>
        {% else %}
        <a href="{{url_for('drawings.add_to_display',drawing_id=drawing.id)}}"><button class="btn btn-primary">Add to Display</button></a>
        {% endif %}
      {% endif %}
        <a href="{{url_for('core.get_image',image_name=drawing.filename,drawing_id=drawing.id)}}"><button class="btn btn-primary">Download Image</button></a>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock %}