#canvas {
  position:absolute;
  top:0px;
  left:0px;
}

/* drawings/draw.html  */
.draw-buttons {
  width:100%;
  height:50px;
  display:flex;
  justify-content:center;
  align-items:center;
}

.draw-buttons a {
  position:relative;
  bottom:0;
  flex:1;
  text-align:center;
}

/* drawings/list.html  */
.drawings {
  display:grid;
  grid-template-columns:repeat(3,1fr);
  grid-gap:1em;
}

.drawing {
  border:solid black 1px;
}

/* canvas.html  */
.lineWidth-range {
  position:relative;
}

#toolbox {
  height:100%;
  width:100%;
  position:relative;
  border:solid blue 2px;
}

#canvas-set {
  display:grid;
  grid-template-columns: 9fr 1fr;
}