/* base.html  */
.navbar {
  font-size:1.2rem;
  letter-spacing:.15rem;
}

.navbar .navbar-brand {
  font-size:1.7rem !important;
  font-weight:700;
}

.navbar-nav li {
  padding-right: 1.3rem;
}

/* canvas.html  */
#canvas {
  position:absolute;
  top:0px;
  left:0px;
}


/* drawings/draw.html  */
.draw-buttons {
  width:100%;
  height:50px;
  display:flex;
  justify-content:center;
  align-items:center;
}

/* drawings/list.html  */
.drawings {
  display:grid;
  grid-template-columns:repeat(3,1fr);
  grid-gap:1em;
}

.drawing {
  border:solid black 1px;
}

/* macros.html  */
.lineWidth-range {
  position:relative;
}

#toolbox {
  height:100%;
  width:100%;
  position:relative;
  padding:20px;
  border-left: solid blue 5px;
}

#canvas-set {
  display:grid;
  grid-template-columns: 8fr 2fr;
  border:solid black 5px;
}

#toolbox {
  display:grid;
  grid-template-rows: 5fr 1fr;
}