/* General Classes */
.centered-div {
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
}

/* base.html  */
body {
  background-image: url('/static/images/background.jpg');
  background-size:cover;
  background-position:center;
  background-attachment:fixed;
  height:100vh;
}

.navbar {
  font-size:1.2rem;
  letter-spacing:.15rem;
  background:rgba(255,255,255,0.8);
  margin-bottom:30px;
}

.navbar .navbar-brand {
  font-size:1.7rem !important;
  font-weight:700;
}

.navbar-nav li {
  padding-right: 1.3rem;
}

/* canvas.html  */
#canvas {
  position:absolute;
  top:0px;
  left:0px;
}


/* drawings/draw.html  */
.draw-buttons {
  width:100%;
  height:50px;
  display:flex;
  justify-content:center;
  align-items:center;
}

/* drawings/list.html  */
.drawings {
  display:grid;
  grid-template-columns:repeat(3,1fr);
  grid-gap:1em;
}

.drawing {
  border:solid black 2px;
  background-color:white;
}

.drawings-list-wrapper .drawings {
  margin-top:20px;
}

/* macros.html  */
.lineWidth-range {
  position:relative;
}

#toolbox {
  height:100%;
  width:100%;
  position:relative;
  padding:20px;
  border-left: solid blue 5px;
}

#canvas-set {
  display:grid;
  grid-template-columns: 8fr 2fr;
  border:solid black 5px;
}

#toolbox {
  display:grid;
  grid-template-rows: 5fr 1fr;
}

/* questions/list.html  */
[data-tab-content] {
  display:none;
}

.active[data-tab-content] {
  display:block;
}

.tabs {
  display:flex;
  justify-content:space-around;
  list-style-type:none;
  margin:0;
  padding:0;
  border-bottom: solid black 1px;
}

.tab {
  cursor:pointer;
  padding:10px;
}

.tab:hover {
  background-color: rgb(255, 255, 255);
}

.tab.active {
  background-color: rgb(255, 255, 255);
}

.tab-content {
  margin-left:20px;
  margin-right:20px;
  height:100%;
}

.questions-list-wrapper {
  height:100%;
  width:60%;
  padding:30px;
  background-color:rgba(255,255,255,0.8);
  margin:auto;
}

.questions-list-wrapper .question {
  background-color:#FDAB9F;
  margin-top:30px;
  display:grid;
  grid-template-columns: 8fr 2fr;
  border:solid black 1px;
}

.question-drawing img {
  background-color:white;
  float:right;
}

.question a {
  color:black;
  text-decoration:none;
}

/* questions/question.html  */
.questions-question-wrapper ul {
  list-style-type:none;
}

.questions-question-wrapper .hints {
  margin-bottom: 20px;
}

.hint-view-btn {
  color:blue;
}
.hint-hide-btn {
  color:blue;
}

.hint-view-btn:hover {
  cursor:pointer;
}
.hint-hide-btn:hover {
  cursor:pointer;
}

/* auth/register.html and auth/login.html */
.jumbotron {
  border:solid black 2px;
}

/* core/user.html */

.art-gallery {
  margin-top:20px;
}

/* games/game.html */
.game-info-section {
  margin-bottom:35px;
}

.games-game-wrapper h4 {
  text-indent:25px;
}

.games-game-wrapper h6 {
  text-indent:50px;
}