{% extends "base.html" %}
{% import 'macros.html' as macros %}
{% block content %}
<div class="core-user-wrapper text-center">
  <h1>Profile Page for {{user.username}}</h1>
  <!-- Friends buttons -->
  {% if current_user.is_authenticated and current_user != user%}
    {% if current_user.can_send_friend_request_to(user) %}
      <a class="follow-btn btn btn-primary" href="{{url_for('core.send_friend_request',username=user.username)}}"
      >
      Send Friend Request
      </a>
    {% elif current_user.received_friend_request_from(user) %}
      <a class="follow-btn btn btn-primary" href="{{url_for('core.accept_friend_request',username=user.username)}}"
      >
      Accept Friend Request
      </a>
    {% elif current_user.is_friends_with(user) %}
      <a class="follow-btn btn btn-danger" href="{{url_for('core.remove_friend',username=user.username)}}"
      >
      Remove Friend
      </a>
    {% else %}
    {% endif %}
  {% endif %}
  <!-- Follow Info -->
  <div class="col-12">
    <div class="follow-info">
      <a class="">Friends: <span class="badge badge-light">{{user.friends().count()}}</span></a>
      {% if current_user.is_authenticated and user!= current_user and
      user.is_friends_with(current_user) %}
      | <span class="label label-default">Friends With You</span>
      {% endif %}
    </div>
  </div>

  <!-- Follow and Unfollow buttons -->
  {% if current_user.is_authenticated and current_user != user%}
    {% if not current_user.is_following(user) %}
      <a class="follow-btn btn btn-primary" href="{{url_for('core.follow',username=user.username)}}"
      >
      Follow
      </a>
    {% else %}
      <a class="follow-btn btn btn-primary" href="{{url_for('core.unfollow',username=user.username)}}"
      >
      Unfollow
      </a>
    {% endif %}
  {% endif %}
  <!-- Follow Info -->
  <div class="col-12">
    <div class="follow-info">
      <a class="">Followers: <span class="badge badge-light">{{user.followers.count()}}</span></a>
      <a class="">| Following: <span class="badge badge-light">{{user.followed.count()}}</span></a>
      {% if current_user.is_authenticated and user!= current_user and
      user.is_following(current_user) %}
      | <span class="label label-default">Follows you</span>
      {% endif %}
    </div>
  </div>

  <!-- Selected Art Gallery -->
  <div class="art-gallery">
    <div class="container">
      <h5>Selected Art Gallery</h5>
      <div class="drawings">
        {% for drawing in drawings %}
        <div class="drawing">
          <a href="{{url_for('drawings.drawing',drawing_id=drawing.id)}}">
          <img src="{{url_for('static',filename='drawing_images/'+drawing.filename)}}" width=300px height=300px>
          </a>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
    <!-- Pagination -->
    <div class="pagination-wrapper">
    {{macros.pagination_widget(pagination,'core.user',username=user.username)}}
    </div>
</div>
{% endblock %}