<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- CSS FILE -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <title>
      Drawality
    </title>
  </head>
  <body>
<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" href="{{url_for('core.index')}}">Drawality</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      {% if current_user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('drawings.draw')}}">Free Draw</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('drawings.list')}}">My Drawings</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('games.list')}}">My Games</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Inbox
              {% set total = current_user.new_questions() + current_user.unconfirmed_games_count() + current_user.pending_friend_requests_count() %}
              <span id="question_count" class="badge badge-info"
              style="visibility: {% if total %}visible{% else %}hidden {% endif %};">
                {{ total }}
              </span>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="{{url_for('questions.list')}}">
              New Questions
              {% set new_questions = current_user.new_questions() %}
              <span id="question_count" class="badge badge-info"
              style="visibility: {% if new_questions %}visible{% else %}hidden {% endif %};">
                {{ new_questions }}
              </span>
            </a>
            <a class="dropdown-item" href="{{url_for('games.pending_games')}}">
              Pending Games
              {% set pending_games = current_user.unconfirmed_games_count() %}
              <span id="question_count" class="badge badge-info"
              style="visibility: {% if pending_games %}visible{% else %}hidden {% endif %};">
                {{ pending_games }}
              </span>
            </a>
            <a class="dropdown-item" href="{{url_for('core.pending_friend_requests')}}">
              Pending Friend Requests
              {% set pending_friend_requests = current_user.pending_friend_requests_count() %}
              <span id="question_count" class="badge badge-info"
              style="visibility: {% if pending_friend_requests %}visible{% else %}hidden {% endif %};">
                {{ pending_friend_requests }}
              </span>
            </a>
          </div>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{{url_for('auth.logout')}}">Logout</a>
        </li>
      {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('auth.register')}}">Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('auth.login')}}">Log In</a>
        </li>
      {% endif %}
    </ul>
  </div>
</nav>

<!-- Flashed Messages -->
{% for message in get_flashed_messages() %}
  <div class="alert alert-light alert-dismissible fade show" role="alert">
      {{message}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
{% endfor %}

    {% block content %}
    {% endblock %}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script
  src="https://code.jquery.com/jquery-3.5.1.js"
  integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
  crossorigin="anonymous"></script>    
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="{{url_for('static',filename='js/main.js')}}"></script>
    {% block scripts %}
    <!-- Flask Moment  -->
    {{moment.include_moment()}}

    <!-- Notification JS code--> 
    <script>
        // questions count in navbar 
        function set_questions_count(n) {
          $('#question_count').text(n);
          $('#question_count').css('visibility', n ? 'visible' : 'hidden');
        }
        
        {% if current_user.is_authenticated %}
        $(function() {
            var since = 0;
            setInterval(function() {
                $.ajax('{{ url_for('core.notifications') }}?since=' + since).done(
                    function(notifications) {
                        for (var i = 0; i < notifications.length; i++) {
                            if (notifications[i].name == 'unread_message_count')
                                set_message_count(notifications[i].data);
                            since = notifications[i].timestamp;
                        }
                    }
                );
            }, 10000);
        });
        {% endif %}
    </script>
    {% endblock %}
  </body>
</html>